* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    margin: 0;
}

/* Estrutura principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.curriculum {
    padding-top: 50px;
}

header {
    width: 100%;
    padding: 10px 20px;
    background-color: #121212;
    position: relative;
}

/* Links gerais */
a {
    color: yellow;
    text-decoration: none;
    padding: 5px;
}

/* Seção principal */
section {
    text-align: center;
    padding: 40px;
    margin: 0 50px 20px 50px;
    border: 2px solid #1e90ff;
    border-radius: 16px;
    background-color: #1a1a1a;
    color: aliceblue;
}

input {
    width: 100%;
}

.validator {
    display: none;
}

button {
    width: 10px;
}


/* Títulos */
h2 {
    padding: 15px 0 15px 0;
}

.subtitle {
    color: rgb(255, 102, 102);
    padding: 5px 0;
}

/* Parágrafos */
section p {
    padding: 0 0 20px 0;
}

.presentation {
    max-width: 50%;
    margin: 0 auto;
}

/* Listas */
ul {
    list-style-type: none;
}

li {
    padding: 5px;
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

/* Classes utilitárias e adicionais */
.name {
    padding-bottom: 25px;
}

.informations {
    padding: 0 0 20px 0;
}

.external_link {
    padding: 5px;
    display: inline-block;
}

.strong,
#returnHome {
    color: rgb(22, 243, 14);
}

.submit {
    cursor: pointer;
    border-radius: 5px;
    /* ^ > < V */
    padding: 10px;
    height: 5vh;
}

#afterSubmit,
#returnHome {
    display: none;
}

.afterSubmit {
    text-align: center;
    padding: 5px;
}

.motivo {
    display: block;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    z-index: 1000;
}

.menu-icon div {
    width: 100%;
    height: 3px;
    background-color: rgb(22, 243, 14);
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(22, 243, 14);
    background-color: #121212;
    padding: 5px 10px;
}